.cube {
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  transition: transform 0.1s ease; 
  transform-origin: center center;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.37);
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.37);
  -moz-box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.37);
}

.animation-left {
  transition: transform 0.1s ease; 
  transform: rotate(3deg);
}

.animation-right {
  transition: transform 0.1s ease; 
  transform: rotate(-3deg);
}

button {
  padding: .5rem 1rem;
  margin: 1rem;
  border: transparent;
  border-radius: 1rem;
  background-color: olivedrab;
  font-size: 1.5rem;
  color: whitesmoke;
  cursor: pointer;
}